
*.o
*.out


compiler/ifcc

tests/pld-test-output/

compiler/code/antlr4-generated
compiler/output
compiler/.antlr


.vscode/

compiler/antlr4-generated/

tests/tests_Warning_Errors/test_Warning_varNotUsed.s
